.galleryModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: black;
  opacity: 1;
  /* padding-block: 2rem; */
}
.cancel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  position: absolute;
  z-index: 2;
}

.cancel svg {
  color: #fff;
  font-size: 2.4rem;
}
.galleryModal .img__main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* padding-bottom: 2rem;
  padding-inline: 1.5rem; */
  position: relative;
  align-items: center;
  /* margin-top: 70px; */
}
.img__main img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
  box-sizing: border-box;
}

.img__main .nav_container__left {
  position: absolute;
  left: 0;
  margin: auto 0;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  outline: #fff solid 1px;
  box-sizing: border-box;
  padding: 0.5rem;
}
.img__main .nav_container__right {
  position: absolute;
  right: 0;
  margin: auto 0;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  outline: #fff solid 1px;
  box-sizing: border-box;
  padding: 0.5rem;
}
/* .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  color: #fff;
} */
