.main {
  /* position: absolute;
	top: 10%; */
  margin-top: 20px;
  display: grid;
  max-width: max(100vw, 500px);
  /* gap: 20px; */
  /* min-height: calc(100vh - 54px); */
  background-color: rgb(236, 234, 234);
  width: 100vw;
}

/* Media Queries */
@media (min-width: 800px) {
  .main {
    grid-template-columns: 1fr 2fr;
    padding: 0 1rem;
    gap: 17px;
  }
}
@media (min-width: 1024px) {
  .main {
    top: 11%;
    padding: 0 1rem;
    grid-template-areas: 'Left Middle Right';
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .main {
    top: 13%;
    padding: 0 6rem;
  }
}
@media (max-width: 480px) {
  .main {
    /* gap: 30px; */
  }
}
