body,
html {
  /* overflow-y: scroll; */
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}
/* html {
  overflow-x: hidden;
} */
/* body::-webkit-scrollbar {
  display: none;
} */
:root,
html,
body {
  box-sizing: border-box;
  background-color: #fff;
  height: 100%;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
p,
small,
i,
header,
html,
img,
label,
nav {
  margin: 0;
  padding: 0;
  background: transparent;
  outline: none;
  font-size: 100;
  vertical-align: baseline;
  border: 0;
}
